body {
    margin:0em;
    font-family:calibri,'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

@media screen and (max-width:1664px){
    .pet-health-tips {
        width:90%;
    }

    .medications {
        width:50%;
    }

    .trends {
        width:50%;
    }
}

@media (max-width: 600px) {
    body {
        background-color: red;
    }


    .addresses {
        display:grid;
        grid-template-rows:1fr;
    }

    .vet-info {
        display:grid;
        grid-template-rows: 1fr 1fr;
        margin:0 auto;
        padding:0em;
    }

}


nav {
    display:flex;
    justify-content:space-around;
    align-items:center;
    background-color:#035862;
    padding:0.5em;
}

h1 {
    margin:0em;
    color:white;
    font-size:3em;
}

.nav-button {
    width:4em;
    height:4em;
    fill:rgb(255, 255, 255);
}

.header {
    display:grid;
    grid-template:1fr 1fr/ 1fr 1fr 1fr 1fr 1fr;
    position:relative;
    background: lightgray 50% / cover no-repeat;
    justify-content: space-between;
    justify-items: center;
    gap:3.75em
}

.header-logo {
    position:absolute;
    z-index: 1;
    left:50%;
    transform:translate(-50%,-50%);
    top:50%;
    width:23vw;
    border-radius:50%;
    opacity:1;
}


.header-img {
    width:18vw;
    filter:brightness(0.8);
    opacity: 0.48;
}

.pawpal-info {
    display:flex;
    flex-direction:row;
    justify-content:center;
    align-items:center;
}

.mobile-home-page {
    width:30em;
    margin-right:15em;
    margin-top:2em;
    border-radius: 5em;
}

.pawpal-p {
    width:60%;
    font-size:3em;
    margin-top:2em;
    margin-left:1.5em;
    margin-right:3em;
}

.notification-header {
    margin-left:3em;
    font-size:2.5em;
}

.main-h3 {
    font-size:4em;
    margin-left:3.5em;
}

.main-date {
    font-weight: bold;
    font-size:3.5em;
    margin-left:4.5em;
    margin-top:0em;
    margin-bottom:0.5em;
}
.meal {
    font-size:2.5em;
    display:flex;
    margin-left:8em;
    flex-direction:column;
    gap:.5em;
}

.meal-p {
    margin-left:2em;
    gap:0em;
}


.food-img {
    align-self:flex-end;
    margin-top:-6em;
    margin-right:10em;
    width:7em;
    height:7em;
    border-radius:.5em;
    object-fit:cover;
    border-color:black;
    border-width:5px;
    border-style:solid;
}

.log-all-button {
    display:inline-block;
    max-width:2.7em;
    padding:0.5em 1em;
    margin-top:1em;
    background-color:#035862;
    color:white;
    text-decoration:none;
    border-radius:0.5em;
    font-size:1em;
    align-self:flex-start;
}


.vet-info {
    display:grid;
    grid-template-columns: 1fr 1fr;
    gap: 2em;
    margin-top:2em;
    padding:2em;
    margin-left:5em;
    margin-right:5em;
}

.vet-info-h2 {
    font-size:3em;
    margin:0em;
}

.vet-info-img {
    margin-top:2em;
    width:435px;
    height:361px;
    object-fit:cover;
    border-radius: 11px;
    border: 2px solid #000;
    aspect-ratio: 335/261;
    flex-shrink: 0;
}

.find-a-vet-button {
    display:inline-block;
    padding:0.5em 1em;
    margin-top:1em;
    background-color:#035862;
    color:white;
    text-decoration:none;
    border-radius:0.5em;
    font-size:1.5em;
}

.vet-info-p {
    font-size:2em;
    text-align:left;
    width:60%;
    margin-top:1em;
}

.pet-health-tips {
    border:2px solid black;
    border-radius: .5em;
    padding:1em;
    margin:0 auto;

}


.vet-info-h2-2 {
    font-size:3em;
    margin:0em;
    text-align:left;
}


.vet-info-p2 {
    font-size:2em;
    text-align:left;
    margin-top:0.5em;
}

.vet-info-h3 {
    text-align:center;
}


.vet-info-h4 {
    text-align:left;
    font-size:2.5em;
    margin-top:1em;
    margin-bottom:0.5em;
}


.addresses {
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2em;
    justify-content:center;
    text-align:center;
    align-items:flex-end;
    font-size:2em;
    margin-top:1em;
}

.get-directions {
    display:inline-block;
    padding:0.5em 1em;
    margin-top:1em;
    background-color:#035862;
    color:white;
    text-decoration:none;
    border-radius:0.5em;
    font-size:1.5em;
    margin-bottom:1em;
}

.vet-map {
    width:60%;
    margin-top:2em;
    border-radius:.5em;
    border-color:black;
    border-width:5px;
    border-style:solid;
}

summary {

    align-self:flex-end;
}

details {
    align-self:flex-end;
}

.bruno-figure {
    display:flex;
    flex-direction:row;
    align-items:center;
    gap:1.5em;

    & > div {
    border-radius: 25px;;
    background-color:#D9D9D9;
    padding:23px;
    margin-top:-11em;
    margin-left:5em;
    }
}

.bruno-photo {
    border-radius:50%;
    object-fit:cover;
    flex-shrink:0;
}

figcaption {
    display:flex;
    font-size:2em;
    flex-direction:column;
    justify-content:flex-start;
    margin-top:-.5em;

    & > p {
        margin-top:0%;
        margin-bottom: 0%;
    }
}

.medications {
    border-radius: .5em;
    background-color: #C5D1DD;
    margin-left:7em;
    width:60%;
    padding:1em;
}

.main-medications-p {
    font-size:2.5em;
}

.below-main-meds-p {
    font-weight: 700;
    font-size:2em;
    margin-left:1em;
}

.below-main-meds-p2 {
    font-weight:700;
    font-size:2em;
    margin-left:2em;
}

.below-main-trends {
    font-size:2.5em;
}

.below-main-trends-p {
    font-weight:700;
    font-size:2em;
}

.below-main-trends-p2 {
    font-weight:700;
    font-size:2em;
}

.bruno-bio {
    font-size:1.3em;
    margin-left:6em;
    margin-top:-1em;
}

h2 {
    font-size:2.5em;
}


.trends {
    display:flex;
    flex-direction:column;
    border-radius:.5em;
    background-color:#C5D1DD;
    width:70%;
    padding:1em;
}

.slider-wrapper {
    position:relative;
    max-width:48em;
    margin:0 auto;
}

.slider {
    display:flex;
    aspect-ratio:1/1;
    overflow-x: auto;
}

.checkbox {
    width: 50px;
    height: 50px;
    background-color:#034449;
    border-radius:50em;
    align-self:flex-end;

}

.banner-photo {
    min-width:100%;
    height:60%;
    object-fit:contain;
}

.reminders {
    margin: 0 auto;
}

.main-info {
    display:grid;
    grid-template-columns: 1fr 1fr;
    align-items:center
}

.walk {
    display:flex;
    flex-direction:column;
    font-size:2.5em;
    gap:.5em;
    margin-left:8em;
}

.walk-p {
    margin-left:2em;
}